{% extends 'admin/index.html.twig' %}

{% block body %}
    <h1>Modification lien</h1>

<div style="width:90%" "class="">
  {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(edit_form) }}


  <div class="form-group">

    {{ form_label(edit_form.title, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(edit_form.title) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
  
    {{ form_label(edit_form.link, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(edit_form.link) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(edit_form.link, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(edit_form.description, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(edit_form.description) }}
    <div class="col-sm-10">
      {{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

{% if app.user and is_granted('ROLE_ADMIN') %}
  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(edit_form.published, "Publication", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(edit_form.published) }}
    <div class="col-sm-1">
      {{ form_widget(edit_form.published, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}

{#
  <div style="margin-left:15px">
  {{ form_row(edit_form.categories) }}
  {{ form_row(edit_form.sousCategories) }}
  </div>
#}

    <ul>
        <li>
            <input type="submit" value="Modifier" />
        </li>
      </lu>

  {{ form_rest(edit_form) }}


  {{ form_end(edit_form) }}
</div>


    <ul>
        <li>
            <a href="{{ path('link_index') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
