{% extends 'admin/index.html.twig' %}

{% block body %}
    <h1>Création lien</h1>

<div style="width:90%" "class="">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}


  <div class="form-group">

    {{ form_label(form.title, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.title) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
  
    {{ form_label(form.link, "Lien de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.link) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(form.description, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.description) }}
    <div class="col-sm-10">
      {{ form_widget(form.description, {'attr': {'class': 'form-control editor'}}) }}
    </div>
  </div>

{% if app.user and is_granted('ROLE_ADMIN') %}
  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(form.published, "Publication", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.published) }}
    <div class="col-sm-1">
      {{ form_widget(form.published, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
  <div style="margin-left:15px">
  {{ form_row(form.categories) }}
  {{ form_row(form.frameworks) }}
  {{ form_row(form.sousCategories) }}
  </div>

<input type="submit" value="Créer" />
  {{ form_rest(form) }}


  {{ form_end(form) }}
</div>

    <ul>
        <li>
            <a href="{{ path('link_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
