{% extends 'admin/index.html.twig' %}

{% block body %}
    <h1>Lien {{ link.title}}</h1> <br />

<div class="container">
        
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ link.title }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td><a href="{{ link.link }}">{{ link.link }}</a></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ link.description }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                {% for categorie in categories %}
                {% if link.categories == categorie.id %} 
                <td>
                    {{ categorie.title }}
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th>Sous-Catégorie</th>
                {% for souscategorie in souscategories %}
                {% if link.sousCategories == souscategorie.id %} 
                <td>
                    {{ souscategorie.title }}
                </td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ link.addUser }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if link.date %}{{ link.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>
    <ul>
        <li>
            <a href="{{ path('link_index') }}">Retour à la liste</a>
        </li>
        {% if app.user and is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('link_edit', { 'id': link.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
